#global_footer {
    background-color: #C4C4C4;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    flex-flow: column nowrap;
}

#global_footer > p {
    padding: 0 10px;
}

#global_footer > p > a {
    color: darkcyan;
    text-decoration: none;
    transition: 0.1s linear;
}

#global_footer > p > a:hover {
    text-decoration: underline;
}

#global_footer #meta {
    padding-top: 20px;
    width: 90vw;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#global_footer #meta > a > img {
    width: 134px;
}

#global_footer #meta > a:last-child {
    font-style: italic;
    font-weight: 400;
}