@import url(//fonts.googleapis.com/css?family=Roboto);

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: "Roboto", sans-serif;
}

body, div {
    display: flex;
    flex-flow: row wrap;
}

body {
    height: 200vh;
    flex-flow: column nowrap;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}